/*body{
 font-weight: bold;
 font-family: 'Roboto', sans-serif;
}*/

/* main value prop in header */
.value-prop{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 40px;
	text-align: center;
}

/* individual value statements in header */
.value-stmts{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	text-align: left;
}

/* cursive sign up text */
.sign-up {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}

/* expert call to action border */
.expert-cta-border {
	border:dashed; 
	color:red; 
	background-color: #D6EEFF;
}

/* couple all to action border */
.couple-cta-border {
	border:dashed; 
	color:red; 
	background-color: #F4F9E9;
}

/* navbar details */
.navbar {
	margin-bottom: 0
}

/* title underline details */
.title-underline{
 width: 200px;
 height: 10px;
 margin: 0 auto;
 background: #D7C8A0;
}

/* height for sections */
.height-80{
 min-height:80vh;
}

/* height for about section */
.height-90{
 min-height:91vh;
}

/* background picture for expert header */
.expert-bg-picture{
 /*background: url(../img/revenue2.jpg)center/cover no-repeat ;*/
 
 background-image: url(../img/revenue2.png);
 background-size: contain;
 background-position: left;
 background-repeat: no-repeat;
 background-attachment: fixed;


}

/* background picture for couple header */
.couple-bg-picture{
 /*background: url(../img/revenue2.jpg)center/cover no-repeat ;*/
 
 background-image: url(../img/couple.jpg);
 background-size: contain;
 background-position: left;
 background-repeat: no-repeat;
 background-attachment: fixed;


}

/* color for benefits section*/
.benefits-color {
	/*color:#717744;*/
	color:#839D9A;
}

/* color for navbar section */
.nav-color{
	background-color: #f2f2f2;
}

/* color for expert header section */
.expert-header-color{
	/*background-color: #D7C8A0	;*/
	background-image: linear-gradient(#D7C8A0, #F4F9E9);

}

/* color for couple header section */
.couple-header-color{
	/*background-color: #D7C8A0	;*/
	background-image: linear-gradient(#9BD1E5, #D6EEFF);

}

/* color for about section */
.about-color{
	background-color: #bfb5af;

}





/* nav formatting */
#nav {
	/*width: 100%
	float: left;
	margin: 10 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;*/
	border-bottom: 1px solid #ccc;  }
#navbarNav ul {
	list-style: none;
	/*width: 800px;*/
	margin: 0 auto;
	padding: 0; }
#navbarNav li {
	float: left; }
#navbarNav li a {
	display: block;
	padding: 8px 30px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#navbarNav li:first-child a {
	border-left: 1px solid #ccc; }
#navbarNav li a:hover {
	color: #c00;
	background-color: #fff; }

/* end nav formatting */